#About_Container{
    position: relative;
    background: var(--color-bg);
    background-image: url("https://www.transparenttextures.com/patterns/sos.png");
    border-style: solid;
    border-color: transparent;
    
}

section h5,h2 {
    text-align: center;
}

.Me{
    position:absolute;
    width:100%; 
    transform: rotate(-10deg);
    left:0%;
    border-radius: 0.35em 0.35em 0.35em 0.35em;
    transition: var(--transition);
    height: 25em;
    
    
   
}

.Me:hover{
   
  transform: rotate(0deg);
}


.Me_Container{
    position:relative;
    width:15em;
    height:25em;
    background-color: var(--color-primary);
    border-radius: 0.35em 0.35em 0.35em 0.35em;
    display:inline-block;
    margin-left: 3em;
    
}

.Education_Container{
    border-style: solid;
    position: static;
    left: 80%;
    width:10em;
    text-align: center;
    background-color: var(--color-bg-variant);
    border-radius:0.35em;
    display:inline-block;
   
    
}

.Hobbies_Container{
    border-style: solid;
    position:absolute;
    top:23%;
    right: 35%;
    width: 20em;
    background: var(--color-bg-variant);
    border-radius: 0.35em;
    text-align:center;
    display:inline-block;
    margin-right: 4em;

}

.Hobbies_Content{
    text-align: left;
    font-size: x-small;
}

.Education_Content{
    text-align: left;
    font-size: x-small
}

.Age_Container{
    border-style: solid;
    border-color:var(--color-white);
    background-color: var(--color-bg-variant);
    text-align: left;
    border-radius: 0.35em;
    text-align: center;
    width: max-content;
    font-size: x-small;
}
.Age_Container ul{
    text-align: left;
}


.Flex_Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4em;
    position: absolute;
    left: 75%;
    top: 23%;
  
   
}





