
/* .post is a selector which applies the following style to elements with a className (attribute) of post */
.post {
    /* <margin>, <padding> etc. are in-built <properties> of a CSS class named <post> */
    margin: 1rem 0;
    padding: 1rem;
    background-color: #df8acb;
    border-radius: 8px; /*Gives a rounder border */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards; 
    text-align: center;
  }

  .Header {

  margin: 1rem auto; /* Sets margin on top and bottom, and centers the element horizontally */
  padding: 1rem;
  max-width: 600px; /* Limits the width of the element to avoid extending throughout the page */
  background-color: #df9fdd; /* Sets the background color */
  border-radius: 8px; /* Applies rounded borders */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centrally aligns text within this element w.r.t this element */
  position: absolute; 
  top: 0%; /*Position this element 0% down from the top of its containing element */ /*The containing element in this case will be <body/> */
  left: 50%; /*Position this element such that its left edge is at the center (50%) of its containing element*/ /* The containing element will be <body/> */
  transform: translate(-50%, 0);  /* Positions this element 50% of its current length to the left */ /*Always relative to current position */
 
  }


















  
  
  
  
  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }