.Experience_Container{
    vertical-align: top;
    margin-top: 1rem;
    margin-left: 3em;
    margin-right: 3em;
    position:static;
    display: inline-block;
    width: 45%;
    border-radius: 0.35rem;
    background-color: rgb(102, 30, 170);
    
}

.Experience_Container h4{
    text-align: center;
} 

.Experience_Container h6{
    margin-bottom: 1em;
    margin-top: 1em;
}

.Experience_Container ul{
    font-size: x-small;
}

/* For in-line block and in-line elements, the margin-top etc. is calculated from the top of the line that the element belongs to: 
vertical-align: top aligns in-line/in-line block elements such that the top of those elements are aligned with each other and the top of the line
*/
.Project_Container{ 
    vertical-align: top;
    margin-top: 1rem;
    position:static;
    display: inline-block;
    width: 45%;
    border-radius: 0.35rem;
    background-color: var(--color-bg-variant)
}
.Project_Container h4{
    text-align: center;
}
.Project_Container h6{
    margin-bottom: 1em;
    margin-top: 1em;
}
.Project_Container ul{
    font-size: x-small;
}
#Skills{
    background-image: url('../../Pictures/orion-nebula-g534aa112c_1280.jpg');
    position: relative;
   
}
