nav{
background-color:  rgba(28, 76, 110, 0.4) ; /* background-colo is not inherited by the child element */
width: max-content;
border-radius: 0.3em 0.3em 0.3em 0.3em;
position: fixed;
left: 50%; 
transform: translate(-50%,0);
bottom: 1em;
backdrop-filter: blur(15px); /* Don't know what this does: */
padding: 0.9rem;
z-index: 1;
}

nav a{
    padding: 0.8rem; 
    
}

/* active is a pseudo class which targets an element with a state between the element
being clicked and let go */
/* In this case .active is a class selector */
nav a.active{
    background-color:var(--color-bg-variant)

}

